@import "tailwindcss";
@plugin "daisyui";

.bgClor{
  background-color: oklch(79.2% 0.209 151.711);
}
 .bgClor2{
  background-color: oklch(57.7% 0.245 27.325);
 }
 .active{
  color:oklch(57.7% 0.245 27.325) ;
  text-decoration: underline  ;
  text-underline-offset: 5px ;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;

 }